In [10]:
import pandas as pd
import pingouin as pg
import time
from scipy import stats
from tqdm import tqdm

In [3]:
df = pd.read_csv("C:/Users/colombelli/Desktop/TCC/data/BRCA_mRNA.csv", index_col=0)

statspandas.DataFrame
'X': Name(s) of first columns.

'Y': Name(s) of second columns.

'method': Correlation type.

'covar': List of specified covariate(s), only when covariates are passed.

'alternative': Tail of the test.

'n': Sample size (after removal of missing values).

'r': Correlation coefficients.

'CI95': 95% parametric confidence intervals.

'p-unc': Uncorrected p-values.

'p-corr': Corrected p-values.

'p-adjust': P-values correction method.

'BF10': Bayes Factor of the alternative hypothesis (only for Pearson correlation)

'power': achieved power of the test (= 1 - type II error).

In [ ]:
start = time.perf_counter()
corr_df = pg.pairwise_corr(df.iloc[:10, :], padjust='bonf')
end = time.perf_counter()

print("Time taken: ", end-start)

In [ ]:
start = time.perf_counter()
corr_df_none = pg.pairwise_corr(df, padjust='none')
end = time.perf_counter()

print("Time taken: ", end-start)

In [ ]:
start = time.perf_counter()
corr_df_100 = pg.pairwise_corr(df.iloc[0:100, :], padjust='bonf')
end = time.perf_counter()

print("Time taken: ", end-start)

In [19]:
dt = df.T

col_1 = []
col_2 = []
col_r = []
col_p = []

for idx1, row1 in tqdm(dt.iterrows(), total=dt.shape[0]):
    for idx2, row2 in dt.loc[idx1:, :].iterrows():
        r, p = stats.pearsonr(row1.values, row2.values)
        col_1.append(idx1)
        col_2.append(idx2)
        col_r.append(r)
        col_p.append(p)

100%|████████████████████████████████████████████████████████████████████████████████| 759/759 [00:22<00:00, 34.43it/s]

In [20]:
corr_df = pd.DataFrame.from_dict({
        "sample1": col_1,
        "sample2": col_2,
        "r": col_r,
        "p": col_p
    })

In [21]:
corr_df

                sample1          sample2         r             p
0       TCGA.3C.AAAU.01  TCGA.3C.AAAU.01  1.000000  0.000000e+00
1       TCGA.3C.AAAU.01  TCGA.3C.AALI.01  0.011027  6.221119e-01
2       TCGA.3C.AAAU.01  TCGA.3C.AALJ.01  0.161264  4.018140e-13
3       TCGA.3C.AAAU.01  TCGA.3C.AALK.01 -0.167896  4.107702e-14
4       TCGA.3C.AAAU.01  TCGA.5L.AAT0.01 -0.124918  2.082677e-08
...                 ...              ...       ...           ...
288415  TCGA.XX.A89A.01  TCGA.Z7.A8R5.01  0.141578  2.021889e-10
288416  TCGA.XX.A89A.01  TCGA.Z7.A8R6.01 -0.225851  1.509051e-24
288417  TCGA.Z7.A8R5.01  TCGA.Z7.A8R5.01  1.000000  0.000000e+00
288418  TCGA.Z7.A8R5.01  TCGA.Z7.A8R6.01 -0.284133  1.881507e-38
288419  TCGA.Z7.A8R6.01  TCGA.Z7.A8R6.01  1.000000  0.000000e+00

[288420 rows x 4 columns]

In [31]:
def filter_edge_list(df, r_filter, p_filter):
    return df.loc[(df.r >= r_filter) & (df['p'] <= p_filter)]

In [32]:
filter_edge_list(corr_df, 0.7, 0.05)

                sample1          sample2    r    p
0       TCGA.3C.AAAU.01  TCGA.3C.AAAU.01  1.0  0.0
759     TCGA.3C.AALI.01  TCGA.3C.AALI.01  1.0  0.0
1517    TCGA.3C.AALJ.01  TCGA.3C.AALJ.01  1.0  0.0
2274    TCGA.3C.AALK.01  TCGA.3C.AALK.01  1.0  0.0
3030    TCGA.5L.AAT0.01  TCGA.5L.AAT0.01  1.0  0.0
...                 ...              ...  ...  ...
288405  TCGA.WT.AB44.01  TCGA.WT.AB44.01  1.0  0.0
288410  TCGA.XX.A899.01  TCGA.XX.A899.01  1.0  0.0
288414  TCGA.XX.A89A.01  TCGA.XX.A89A.01  1.0  0.0
288417  TCGA.Z7.A8R5.01  TCGA.Z7.A8R5.01  1.0  0.0
288419  TCGA.Z7.A8R6.01  TCGA.Z7.A8R6.01  1.0  0.0

[799 rows x 4 columns]